* {
    background-color: #f1f4c6;
    font-family: 'Permanent Marker', cursive;
}

header {
    border-bottom: 3px solid #1e2022;
    border-right: 3px solid #1e2022;
    padding: 3%;
    text-align: center;
    background-color: #d6d0b8;
    display: flex;
    justify-content: space-around;
}

header h1 {
    background-color: #d6d0b8;
    font-size: 64px;
}

button {
    align-self: center;
    background-color: #f0f5f9;
    border: 3px solid #1e2022;
    border-radius: 10%;
    font-size: larger;
}

main {
    margin: 5%;
}

#grid-size {
    display: none;
}

#container {  
    margin: auto;  
    border: 25px ridge #e7272d;
    border-radius: 5%;
    height: 800px;
    width: 800px;
    display: grid;
}

.cell {
    background-color: #f0f5f9;
}

.hovered {
    background-color: black;
}